input {
    border: 0px;
    width: 84%;
    margin: 10px;
    background-color: transparent;
    color: white;
    outline: none;
}

button {
    border: 0;
    border-radius: 30px;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(355deg, rgba(2,0,36,1) 0%, rgba(71,131,159,1) 91%, rgba(0,212,255,1) 100%);
}

::-webkit-input-placeholder { 
    color: white;
}

.weather-card {
    border-radius: 20px;
    height: 100%;
    padding: 30px 0px;
    background-color: rgba(255, 255, 255, 0.16);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    justify-content: left;
    padding: 0px 20px;
    flex-wrap: wrap;
    padding: 0px 50px;
    column-gap: 20px;
}

.location {
    display: flex;
    padding: 0px 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    color: white;
    opacity: 90%;
    width: auto;
    justify-content: space-between;
}

.searchBox {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 30px;
    margin: 40px auto;
    width: 60%;
}

.weather-icons {
    height: 3rem;
    width: 3rem;
    margin: auto 0px;
}

/* Second Component */

.info-container {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.weather-temp-card{
    width:18rem;
    padding: 65px 0px;
}

.weather-conditions {
    display: inline-flex;
    gap: 20px;
}

.inline-display {
    display: inline;
}

.weather-info-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 18rem;
    padding: 30px 30px;
}

.cell-one {
    border-bottom: 1px solid;
    border-right: 1px solid;
}

.cell-two {
    border-bottom: 1px solid;
}

.cell-three {
    border-right: 1px solid;
}